<div class="span4 centered_form">
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= render 'shared/error_message' %>
      <%= f.input :username, :placeholder => 'ex- john doe', :validate => true %>
      <%= f.input :email, :placeholder => 'ex- john.doe@johndoe.com', :validate => true %>
      <%= f.input :password, as: :password, :validate => true %>
      <%= f.input :password_confirmation, as: :password, :validate => true %>
    </div>
      <%= f.button :submit, :value => 'Create Account' %>
  <% end %>
</div>
